<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- prevent stupid favicon get error -->
    <link rel="shortcut icon" href="#" />
    <!-- prevent stupid favicon get error -->
    <title><%= htmlWebpackPlugin.options.title%></title>
  </head>

  <body>
    <div class="container">
      <div class="title">
        <h1 class="title">
          <span class="ship">
            <pre>
                     ___
                    /__/
                 __/___
           _____/______\____
   _______/_____/_______\___\_____
   \              &lt; &lt; &lt;          /
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        </pre
            >
          </span>
          battleship
        </h1>
      </div>
      <div class="boards-container">
        <!-- player -->
        <div class="board-container">
          <div class="player-name">you</div>
          <div class="board" id="p1-gb">
            <!-- multiple divs in this -->
          </div>
          <div class="ships-container">
            <!-- dynamically bring in ships -->
          </div>
        </div>

        <!-- computer -->
        <div class="board-container">
          <div class="player-name">computer</div>
          <div class="board" id="p2-gb">
            <!-- multiple divs in this -->
          </div>
          <div class="ships-container">
            <!-- dynamically bring in ships -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
